<%- include('./head'); %>
  <%- include('./partials/aside'); %>
  <header class="selectHeader">
    <div class="home-about">
      <div class="bck-home" >
      </div>
      <div class="about-content">
        <h1>Hello! I'm <span class="name-about">Jeffrey White</span> the CEO of a Mostudio Photography</h1>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <div class="about-itens"> 
        <div class="team-content">
          <div class="team team-1"></div>   
          <h2 class="team-title">John Doe</h2>    
          <p class="team-descript">Photographer</p>   
        </div>
<div class="team-content">
          <div class="team team-2"></div>
          <h2 class="team-title">John Flex</h2>    
          <p class="team-descript">Photographer</p>   
        </div>
<div class="team-content">
          <div class="team team-3"></div>
          <h2 class="team-title">John Flex</h2>    
          <p class="team-descript">Photographer</p>   
        </div>

      </div>
    </div>
    </div>

  </header>
  <script src="./aside.js"></script>
  <script src="./galery.js"></script>
<%- include('./end'); %>