<%- include('./head'); %>
  <%- include('./partials/aside'); %>
  <header class="selectHeader">
    <div class="contact">
    <div class="contact-info">
      <h2>Let's get in touch</h2>


      <div class="info-itens">
         <h3>Address:</h3>
        <p> 198 West 21th Street, Suite 721 New York NY 10016</p>
      </div>

      <div class="info-itens">
        <h3>Phone:</h3>
       <p>+ 1235 2355 98</p>
     </div>

     <div class="info-itens">
      <h3>Email:</h3>
     <p>info@yoursite.com</p>
   </div>

   <div class="info-itens">
    <h3>Website</h3>
   <p>yoursite.com</p>
 </div>


      <p>We're open for any suggestion or just to have a chat</p>

    </div>
    <div class="contact-form">
      <form action="">
        <h2 class="contact-title">GET IN TOUCH</h2>

        <div class="info-private">
          <div class="info-name">
            <label class="contact-label" for="">full name</label>
            <input type="text" placeholder="Name">
          </div>

          <div class="info-name">
            <label class="contact-label" for="">EMAIL ADDRESS</label>
            <input type="text" placeholder="Email">
          </div>   
        </div>

            <label class="contact-label" for="">SUBJECT</label>
            <input type="text" placeholder="Subject">
            <label class="contact-label" for="">MESSAGE</label>
            <textarea type="text" placeholder="Message" maxlength="200"> </textarea>
        <button>Send Message</button>
      </form>
    </div>      
    </div>
    <script src="./galery.js"></script>
  <script src="./aside.js"></script>
<%- include('./end'); %>