<%- include('./head'); %>
  <%- include('./partials/aside'); %>
  
  <header class="selectHeader">
    <div class="images-galery">
      <div class="galery work1">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Black & Gold Paint Face</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>

      <div class="galery work2">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Green Leaves</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>

      <div class="galery work3">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Coal</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>
      
      <div class="galery work4">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Top Leaf</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>

      <div class="galery work5">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Building</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>

      <div class="galery work6">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Black Model</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>

      <div class="galery work7">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Pug Puppy</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>

      <div class="galery work8">
        <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>White Flower</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>      
      
      <div class="galery work9">
                <div class="galery-content galeryEvent">
          <h3>PORTRAIT</h3>
          <h1>Turtle</h1>
          <a href="" class="link-portfolio">VIEW PORTFOLIO</a>
        </div>
      </div>



    </div>
  </header>

  <script src="./galery.js"></script>
  <script src="./aside.js"></script>
<%- include('./end'); %>