<%- include('./head'); %>


  <aside class="side-bar">
    <div class="content"><h2 class="closed">x</h2>
      <h1>  
            <a href="#" class="logo">Mostudio</a>
          </h1>
            <ul>
              <li class="list active"><a href="#">HOME</a></li>
              <li><a class="list" href="/galery">GALERY</a></li>
              <li><a class="list" href="">ABOUT</a></li>
              <li><a class="list" href="">PRICING</a></li>
              <li><a class="list" href="">CONTACT</a></li>
            </ul>
            <h3>SUBSCRIBE FOR NEWSLETTER</h3>
            <input type="text" placeholder="Enter Email Address">
            <p>Projeto criado por Matheus, espero que você tenha gostado, para saber mais clique abaixo</p>
            <a class="name" href="#">Matheus Developer</a>   
    </div>
  </aside>

  <header class="selectHeader">
    <div class="home">
      <img src="./assets/images/work-7.jpg" alt="">
      <div class="home-content">
        <span>NATUERE</span>
        <h1>Pug Puppy</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">

      <div class="home-content content-right">
        <span>NATURE</span>
        <h1>Green Leaves</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
      <img class='content-left' src="./assets/images/work-2.jpg" alt="">
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">
      <img src="./assets/images/work-3.jpg" alt="">
      <div class="home-content">
        <span>NATURE</span>
        <h1>Coal</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">

      <div class="home-content content-right">
        <span>NATURE</span>
        <h1>Top Leaf</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
      <img class='content-left' src="./assets/images/work-4.jpg" alt="">
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">
      <img src="./assets/images/work-5.jpg" alt="">
      <div class="home-content">
        <span>PORTRAIT</span>
        <h1>Building</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">

      <div class="home-content content-right">
        <span>FASHION</span>
        <h1>Black Girl Model</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
      <img class='content-left' src="./assets/images/work-6.jpg" alt="">
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">
      <img src="./assets/images/work-1.jpg" alt="">
      <div class="home-content">
        <span>PORTRAIT</span>
        <h1>Black & Gold Paint Face</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">

      <div class="home-content content-right">
        <span>NATURE</span>
        <h1>White Flower</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
      <img class='content-left' src="./assets/images/work-8.jpg" alt="">
    </div>
  </header>

  <header class="selectHeader">
    <div class="home">
      <img src="./assets/images/work-9.jpg" alt="">
      <div class="home-content">
        <span>ANIMALS</span>
        <h1>Turtle</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
        <a href="#" class="link-portfolio">VIEW PORTFOLIO</a>
      </div>
    </div>
  </header>

  <footer>
    <h1>Matheus Dev</h1>
    <p>para saber mais acesse <a href=""> MEU PORTFPÓLIO</a></p>

  </footer>
<script src="./script.js"></script>
<%- include('./end'); %>