<aside class="side-bar">
  <div class="content"><h2 class="closed">x</h2>
    <h1>  
          <a href="#" class="logo">Mostudio</a>
        </h1>
          <ul>
            <li><a class="list" href="/">HOME</a></li>
            <li><a class="list" href="/galery">GALERY</a></li>
            <li><a class="list" href="/about">ABOUT</a></li>
            <li><a class="list" href="/contact">CONTACT</a></li>
          </ul>
          <h3>SUBSCRIBE FOR NEWSLETTER</h3>
          <input type="text" placeholder="Enter Email Address">
          <p>Projeto criado por Matheus, espero que você tenha gostado, para saber mais clique abaixo</p>
          <a class="name" href="#">Matheus Developer</a>   
  </div>
</aside>
